* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    image-orientation: from-image
}

#target {
    font-size: 50px;
}

#score {
    font-size: 50px;
}

p {
    font-size: 30px;
}

#score-back {
    font-size: 30px;
}